*{
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

/* ---------home page style design start here */
/* ------file name is index.html----------- */
/* 
.banner{
    width: 100%;
    height:80px;
   background-color: #00DBDE;
   background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
   ;
   display: flex;
   align-items: center;
}
.logo{
   width: 30px;
   height: 30px;
   margin: 0px 20px;

}
.logo-text{
    display: flex;
    
}
.nav-text{
    margin-right: 10px;
}
.nav-text>ul{
display: flex;
list-style: none;

}
li a{
   
text-decoration: none;
margin-right: 25px;
color: rgb(4, 5, 7);
font-size: 18px;

}
li a:hover{
    background-color: rgb(22, 135, 215);
    width: 10px;
}
.bg-pic{
    width: 100%;
    height: 800px;
    background-image: url('./img2.jpg');
    background-size: cover;
     display: block;
    padding-top: 100px;
    padding-left: 100px;
    
}

.bg-heading{
    font-size: 18px;
    color: rgb(18, 19, 18);
    margin-left: 50px;
    margin-bottom: 20px;
}
.bg-text{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.btn-primary{
    
    width: 170px;
    height: 40px;
    background-color: aqua;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    border: none;
    margin-left: 70px;
}
.btn-primary:hover{
background-color: aquamarine;
}

.card{
    width: 1100px;
    display: flex;
    align-items: center;
}

.card1{
    width: 250px;
    height: 70px;
    background-color: aqua;
    text-align: center;
} */




/* ----------------kjsdfhdkfshkhkfdsk----- */

.banner {
    width: 100vw;
    height: 70px;
    background-color: paleturquoise;
    display: flex;
    /* top o added by yat for service section fixed position */
    z-index: 10;
    top: 0;
    align-items: center;

}

.banner {
    position: fixed;
}

.logo {
    width: 30px;
    height: 30px;
}

.logo-text {
    display: flex;
    margin-left: 60px;
}

.nav-text {
    margin-right: 10px;
}

.nav-text>ul {
    display: flex;
    list-style: none;

}

li a {

    text-decoration: none;
    margin-right: 25px;
    color: rgb(4, 5, 7);
    font-size: 18px;

}

li a:hover {
    background-color: white;
}


.bg-pic {
    width: 1140px;
    height: 400px;
    background-image: url('./img2.jpg');
    /* background-image: url('../images/bg2.png'); */
    background-size: cover;
    display: block;
    padding-top: 250px;
    padding-left: 100px;
    border-radius: 16px;

}

.bg-heading {
    font-size: 18px;
    color: rgb(18, 19, 18);
    margin-left: 50px;
    margin-bottom: 20px;
}

.bg-text {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.btn-primary {

    width: 170px;
    height: 40px;
    background-color: aqua;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    border: none;
    margin-left: 70px;
}

.btn-primary:hover {
    background-color: aquamarine;
}

.card {
    width: 1300px;
    height: 220px;
    display: flex;
    margin-top: 50px;
}

.card1 {
    width: 250px;
    height: 220px;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid aqua;
    box-shadow: 4px 4px 4px 4px skyblue;
    border-radius: 6px;

}

.cpic {
    width: 124px;
    height: 124px;
    background-color: rgb(214, 226, 226);
    justify-content: center;
}

.chead {
    margin-bottom: 5px;
}

.ctext {
    font-size: 16px;
    font-weight: 500;
}

.services {
    text-align: center;
    margin-top: 80px;
}

#serve {
    color: aqua;
}



/* newsletter-section */
.newsletter {
    width: 1300px;
    display: flex;
}

.news-text {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid skyblue;
    margin-bottom: 60px;
}

.news-head {
    width: 126px;
    height: 30px;
    color: #131318;
    font-family: Mulish;
    font-size: 1.25rem;
    font-weight: 800;
    margin-left: 32px;
    padding-top: 40px;
}

.news-box {

    padding-left: 32px;
    display: grid;
    justify-content: left;
    gap: 20px;
    padding-bottom: 40px;
}

.news2 {
    width: 350px;
    height: 52px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 32px;
    padding-bottom: 30px;
}

.news-items {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding-left: 20px;
}

.news-btn {
    width: 410px;
    height: 52px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    border: 1px solid skyblue;
    background-color: skyblue;
}

.news-pic1 {
    text-align: center;
   
    color: white;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
    background-color: skyblue;
    border-radius: 16px;
    width: 324px;
    height: 60px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    margin-top: 240px;
    margin-left: 320px;
   

}

.news-pic {
    width: 650px;
    height: 422px;
    background-image: url(../Images/hos4.jpg);
    border-radius: 16px;
    margin-bottom: 60px;
    background-size: cover;
    
}

/* goal section */
.goals {
    width: 1220px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-bottom: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 3px 3px 3px 3px skyblue;
    border-radius: 6px;
    background-color: rgb(218, 239, 248);
}

.goals2 {
    width: 1220px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-bottom: 80px;
    padding-top: 100px;
    padding-bottom: 40px;
    box-shadow: 3px 3px 3px 3px skyblue;
    border-radius: 6px;
    background-color: rgb(218, 239, 248);
}

.Our Goals {
    width: 573px;
}

.goal-head {
    font-size: 30px;
    font-weight: 800px;
    color: rgb(54, 47, 47);
    margin-bottom: 20px;
}

.goal-text {
    width: 450px;
}

.goal-pic {
    width: 500px;
    height: 350px;
}

.partner {
    width: 100vw;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.partner-pic {
    width: 200px;
    margin: 50px;
}

.why1 {
    margin-top: 80px;
    text-align: center;
    padding-bottom: 32px;
}

.why-choose {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 24px;

}

.why-text {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.why {
    display: flex;
}

.why2 {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-left: 32px;
    margin-right: 12px;
    margin-bottom: 60px;
}

.pic {
    width: 64px;
    height: 64px;
    margin-top: 20px;
    margin-bottom: 15px;

}

.title1 {
    color: #131318;
    font-family: Mulish;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 15px;
}

.text1 {
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 5px;
}

.why3 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding-left: 32px;
    margin-left: 12px;
    margin-bottom: 60px;
}

.why4 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding-left: 32px;
    margin-top: 24px;
    margin-bottom: 60px;
}





/* department section star */
.dpt-main{
    width: 100%;
    height: 400px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

    text-align: center;
    justify-content: center;
    
}
.heading-dpt{
    width: 100%;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px 0px;
    color: black;
    font-size: 30px;
}
.list{
    width: 500px;
}
.list ul li{
    list-style: none;
    margin: 18px 0px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
}
.list ul li:hover{
    background-color: #FC00FF;
    
}
.details{
    width: 100%;
    height: 200px;
    padding: 50px;
    background-color: #52ACFF;
background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);

}
/* department section end */





/* services section */
.container{
    background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);


}
.section-head{
    
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 30px;
}

.service-item{
    width: 100%;
    height: 200px;
    padding: 20px 50px;
    margin-bottom: 20px;
}
.services-inner{
    /* padding: 20px 0; */
}


/* footer section style code start  */

/* footer section start */

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 66px;
    color: white;
    margin-top: 6px;
    background-color: rgb(6, 51, 51);

}
.text p{
    margin-top: 12px;
}


/* footer section end */


/* footer section style code end */

/* sign up start */

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 60px;
 }
 
 .container .content{
    text-align: center;
 }

 .container .content a{
    text-decoration: none;
 }
 
 .container .content h3{
    font-size: 30px;
    color:#333;
 }
 
 .container .content h3 span{
    background: crimson;
    color:#fff;
    border-radius: 5px;
    padding:0 15px;
 }
 
 .container .content h1{
    font-size: 50px;
    color:#333;
 }
 
 .container .content h1 span{
    color:crimson;
 }
 
 .container .content p{
    font-size: 25px;
    margin-bottom: 20px;
 }
 
 .container .content .btn{
    display: inline-block;
    padding:10px 30px;
    font-size: 20px;
    background: #333;
    color:#fff;
    margin:0 5px;
    text-transform: capitalize;
 }
 
 .container .content .btn:hover{
    background: crimson;
 }
 
 .form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 60px;
    /* background: #eee; */
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    ;
 }
 
 .form-container form{
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    width: 550px;
 }
 
 .form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:#333;
 }
 
 .form-container form input,
 .form-container form select{
    width: 90%;
    padding:10px 15px;
    font-size: 17px;
    margin:8px 0;
    background: #eee;
    border-radius: 5px;
 }
 
 .form-container form select option{
    background: #fff;
 }
 
 .form-container form .form-btn{
    background: #fbd0d9;
    color:crimson;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
 }
 
 .form-container form .form-btn:hover{
    background: crimson;
    color:#fff;
 }
 
 .form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color:#333;
 }
 
 .form-container form p a{
    color:crimson;
 }
 
 .form-container form .error-msg{
    margin:10px 0;
    display: block;
    background: crimson;
    color:#fff;
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
 }

 /* sign up end */





